/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400&display=swap');

/* Apply font to the entire page */
* {
  font-family: 'Noto Serif', serif;
}

/* Center the page */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin: 0;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

.logo {
  width: 100px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.tab-buttons .btn {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f0f0f0;
  font-weight: 500;
  color: #333;
  border-radius: 0;
}

.tab-buttons .btn.active {
  background-color: #007bff;
  color: white;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F2F4F5;
  }
  .card-body {
    padding: 2rem;
  }

.form-group input {
  font-size: 1rem;
  padding: 0.75rem;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-btn img {
    width: 30px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #f1f1f1;
}


.footer-links {
  font-size: 0.875rem;
}

.footer-links .link {
  color: #007bff;
  text-decoration: none;
}

.footer-links .link:hover {
  text-decoration: underline;
}
